:root {
  --font-weight-h: 500;
  --font-size-h: 20px;
  --line-height-h: 1.2;
  --line-height-p: 1.5;
  --letter-spacing-h: 0.04em;
  --letter-spacing-p: 0.02em;
  --text-color: #434455;
  --hero-color: #2e2f42;
  --links-color: #4d5ae5;
  --hover-color: #404bbf;
  --magic-color: #ffffff;
  --accent-color: #e7e9fc;
  --background-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #e5e5e5;
  color: var(--hero-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-list,
.address-list,
.featurs-list,
.samples-list,
.team-list,
.filters-list,
.projects-list {
  list-style-type: none;
}

.nav-bar,
.nav-list,
.address-list,
.featurs-list,
.samples-list,
.team-list,
.filters-list,
.projects-list {
  display: flex;
}

.filters-item:not(:last-child),
.featurs-item:not(:last-child),
.samples-item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 24px;
}

/* .featurs-item + .featurs-item = .featurs-item:not(:last-child) */

/* header */

header {
  background-color: var(--magic-color);
  border-bottom: 1px solid #e7e9fc;
}

.nav-bar {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-top {
  margin-right: 76px;
  text-decoration: none;
}

.web-top,
.studio-top {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-top {
  color: var(--links-color);
}

.studio-top {
  color: var(--hero-color);
}

.nav-list {
  margin: 0;
  margin-right: 332px;
  padding-left: 0;
}

.nav-item:not(:last-child),
.address-item:not(:last-child) {
  margin-right: 40px;
}

.nav-text {
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
  text-decoration: none;
}

.address-list {
  margin: 0;
  padding-left: 0;
}

.address-text {
  font-style: normal;
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
  text-decoration: none;
}

.nav-text:hover,
.nav-text:focus,
.address-text:hover,
.address-text:focus {
  color: var(--hover-color);
}

main {
  background-color: var(--magic-color);
}

/* hero */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--hero-color);
}

.hero-text {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--magic-color);
}

.hero-button {
  margin-top: 48px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-h);
  background: var(--links-color);
  color: var(--magic-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:active {
  background: var(--hover-color);
}

/* feature */

.featurs-list {
  margin: 0;
  padding-top: 120px;
  padding-left: 0;
}

.featurs-direction {
  margin: 0;
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
}

.featurs-text {
  width: 264px;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
}

/* samples */

.samples-text {
  margin-top: 0;
  margin-bottom: 72px;
  padding-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color);
}

.samples-list {
  margin: 0;
  padding-left: 0;
  padding-bottom: 120px;
}

/* team */

.team {
  background-color: var(--background-color);
}

.team-text {
  padding-top: 120px;
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color);
}

.team-list {
  margin: 0;
  padding-bottom: 120px;
  padding-left: 0;
}

.team-item {
  width: 264px;
  background: var(--magic-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
}

.team-function {
  margin-top: 0;
  margin-bottom: 32px;
  line-height: var(--line-height-p);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
}

/* footer */

footer {
  background-color: var(--hero-color);
}

.foot {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-bottom {
  text-decoration: none;
}

.web-bottom,
.studio-bottom {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-bottom {
  color: var(--links-color);
}

.studio-bottom {
  color: var(--background-color);
}

.advise {
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--accent-color);
}

/* Portfolio */

.filters-list {
  justify-content: center;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 72px;
  padding-left: 0;
}

.filters-text {
  padding: 12px 24px;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  text-align: center;
  letter-spacing: var(--letter-spacing-h);
  color: var(--links-color);
  background: var(--background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.filters-text:active {
  color: var(--magic-color);
  background-color: var(--hover-color);
}

.projects-list {
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  padding-bottom: 120px;
}

.projects-item {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
  border: 1px solid #e7e9fc;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-direction {
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
}

.projects-text {
  margin-bottom: 32px;
  margin-left: 16px;
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
}
